<% include ../partials/header %>

<div id="page-content-wrapper">
<!--przycisk otwierający sidebar-->
    <button type="button" id="sidebarCollapse" class="btn btn-danger">
        <i class="fas fa-align-left"></i>
    </button>
    <br>
<!--przycisk otwierający okienko z tekstem oraz funkcjonalność-->
    <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal">
      Okienko z tekstem
    </button>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Okienko z tekstem</h4>
          </div>
          <div class="modal-body">
            Żadna praca nie jest bardziej stresująca, niebezpieczna, czy ekscytująca niż strażaków - członków Oddziału Ratunkowego i sanitariuszy z Chicago Firehouse 51. Są to odważni mężczyźni i kobiety, którzy stają oko w oko z niebezpieczeństwem, reagują, gdy wszyscy inni boją się podjąć działanie. Jednak ogromne obowiązki w pracy odbijają piętno na ich życiu osobistym. Gdy tragedia spotyka jednego z członków zespołu, w powietrzu unosi się sporo poczucia winy i żalu. Porucznik Matthew Casey (Jesse Spencer) stara się pracować normalnie, lecz nie może porozumieć się z porucznikiem Kelly Severidem (Taylor Kinney), z Oddziału Ratunkowego, z którym wzajemnie obwiniają się o śmierć jednego z członków zespołu. Gdy jednak zachodzi wyższa konieczność, są w stanie zakopać wojenny topór i stanąć na wysokości zadania, ratując życie potrzebującym pomocy. 
          </div>
        </div>
      </div>
    </div>
    
<!--kontent strony-->    
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="jumbotron">
                  <div id="basicUsage">00:00:00</div>
                  <div class="clock"></div>
                  <br>
                  Żadna praca nie jest bardziej stresująca, niebezpieczna, czy ekscytująca niż strażaków - członków Oddziału Ratunkowego i sanitariuszy z Chicago Firehouse 51. Są to odważni mężczyźni i kobiety, którzy stają oko w oko z niebezpieczeństwem, reagują, gdy wszyscy inni boją się podjąć działanie. Jednak ogromne obowiązki w pracy odbijają piętno na ich życiu osobistym. Gdy tragedia spotyka jednego z członków zespołu, w powietrzu unosi się sporo poczucia winy i żalu. Porucznik Matthew Casey (Jesse Spencer) stara się pracować normalnie, lecz nie może porozumieć się z porucznikiem Kelly Severidem (Taylor Kinney), z Oddziału Ratunkowego, z którym wzajemnie obwiniają się o śmierć jednego z członków zespołu. Gdy jednak zachodzi wyższa konieczność, są w stanie zakopać wojenny topór i stanąć na wysokości zadania, ratując życie potrzebującym pomocy. 
                  Żadna praca nie jest bardziej stresująca, niebezpieczna, czy ekscytująca niż strażaków - członków Oddziału Ratunkowego i sanitariuszy z Chicago Firehouse 51. Są to odważni mężczyźni i kobiety, którzy stają oko w oko z niebezpieczeństwem, reagują, gdy wszyscy inni boją się podjąć działanie. Jednak ogromne obowiązki w pracy odbijają piętno na ich życiu osobistym. Gdy tragedia spotyka jednego z członków zespołu, w powietrzu unosi się sporo poczucia winy i żalu. Porucznik Matthew Casey (Jesse Spencer) stara się pracować normalnie, lecz nie może porozumieć się z porucznikiem Kelly Severidem (Taylor Kinney), z Oddziału Ratunkowego, z którym wzajemnie obwiniają się o śmierć jednego z członków zespołu. Gdy jednak zachodzi wyższa konieczność, są w stanie zakopać wojenny topór i stanąć na wysokości zadania, ratując życie potrzebującym pomocy. 
                  Żadna praca nie jest bardziej stresująca, niebezpieczna, czy ekscytująca niż strażaków - członków Oddziału Ratunkowego i sanitariuszy z Chicago Firehouse 51. Są to odważni mężczyźni i kobiety, którzy stają oko w oko z niebezpieczeństwem, reagują, gdy wszyscy inni boją się podjąć działanie. Jednak ogromne obowiązki w pracy odbijają piętno na ich życiu osobistym. Gdy tragedia spotyka jednego z członków zespołu, w powietrzu unosi się sporo poczucia winy i żalu. Porucznik Matthew Casey (Jesse Spencer) stara się pracować normalnie, lecz nie może porozumieć się z porucznikiem Kelly Severidem (Taylor Kinney), z Oddziału Ratunkowego, z którym wzajemnie obwiniają się o śmierć jednego z członków zespołu. Gdy jednak zachodzi wyższa konieczność, są w stanie zakopać wojenny topór i stanąć na wysokości zadania, ratując życie potrzebującym pomocy. 
                  Żadna praca nie jest bardziej stresująca, niebezpieczna, czy ekscytująca niż strażaków - członków Oddziału Ratunkowego i sanitariuszy z Chicago Firehouse 51. Są to odważni mężczyźni i kobiety, którzy stają oko w oko z niebezpieczeństwem, reagują, gdy wszyscy inni boją się podjąć działanie. Jednak ogromne obowiązki w pracy odbijają piętno na ich życiu osobistym. Gdy tragedia spotyka jednego z członków zespołu, w powietrzu unosi się sporo poczucia winy i żalu. Porucznik Matthew Casey (Jesse Spencer) stara się pracować normalnie, lecz nie może porozumieć się z porucznikiem Kelly Severidem (Taylor Kinney), z Oddziału Ratunkowego, z którym wzajemnie obwiniają się o śmierć jednego z członków zespołu. Gdy jednak zachodzi wyższa konieczność, są w stanie zakopać wojenny topór i stanąć na wysokości zadania, ratując życie potrzebującym pomocy. 
                  Żadna praca nie jest bardziej stresująca, niebezpieczna, czy ekscytująca niż strażaków - członków Oddziału Ratunkowego i sanitariuszy z Chicago Firehouse 51. Są to odważni mężczyźni i kobiety, którzy stają oko w oko z niebezpieczeństwem, reagują, gdy wszyscy inni boją się podjąć działanie. Jednak ogromne obowiązki w pracy odbijają piętno na ich życiu osobistym. Gdy tragedia spotyka jednego z członków zespołu, w powietrzu unosi się sporo poczucia winy i żalu. Porucznik Matthew Casey (Jesse Spencer) stara się pracować normalnie, lecz nie może porozumieć się z porucznikiem Kelly Severidem (Taylor Kinney), z Oddziału Ratunkowego, z którym wzajemnie obwiniają się o śmierć jednego z członków zespołu. Gdy jednak zachodzi wyższa konieczność, są w stanie zakopać wojenny topór i stanąć na wysokości zadania, ratując życie potrzebującym pomocy. 
                </div>
<!--kwadrat z ikoną oraz zmianą na tekst-->
                <div id="square">
                  <div class="sqtext">
                      <i class="fab fa-asymmetrik fa-9x"></i>
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>