<% include ../partials/header %>

<div class="container">
    <div class="jumbotron" style="margin-top:50px">
        <h2 class="text-center">Dane pobierane z DB <i class="far fa-smile-wink"></i></h2>
        <hr>
        <h3 class="text-center"><%= tabela.imie %></h3>
        <h3 class="text-center"><%= tabela.nazwisko %></h3>
        <h3 class="text-center"><%= tabela.telefon %></h3>
        <h3 class="text-center"><%= tabela.email %></h3>
    </div>
</div>

<% include ../partials/footer %>